# Add any directories, files, or patterns you don't want to be tracked by version control
/.idea/
**/target/

**/dependency-reduced-pom.xml
**/logs/
**/out/

**/*.iml
**/pom.xml.releaseBackup
**/release.properties
